body {
    background: black;
    color: white;
}
a {
    color: white;
}
table {
    widht="100%"
}
.table1 {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
 
.table1, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}

p {
    color: white;
}
textarea {
    color: white;
}
form {
    color: white;
    border: 1px solid rgb(255, 255, 255)
    font-family: Arial;
    border:
}
#email {
    color: white;
}